In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Guerrero Negro,MX,2022-02-02 01:27:45,27.9769,-114.0611,61.05,70,89,12.93
1,1,Busselton,AU,2022-02-02 01:23:51,-33.6500,115.3333,73.04,47,85,18.66
2,2,Rikitea,PF,2022-02-02 01:24:33,-23.1203,-134.9692,78.35,70,72,6.04
3,3,Wanning,CN,2022-02-02 01:27:45,18.8003,110.3967,68.81,91,93,6.35
4,4,Luderitz,NaN,2022-02-02 01:25:03,-26.6481,15.1594,63.68,91,67,7.87

In [4]:
# data type check

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [18]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rikitea,PF,2022-02-02 01:24:33,-23.1203,-134.9692,78.35,70,72,6.04
7,7,Nabire,ID,2022-02-02 01:27:46,-3.3667,135.4833,84.31,69,100,2.95
8,8,Kapaa,US,2022-02-02 01:26:02,22.0752,-159.3190,79.12,68,0,1.99
12,12,Touros,BR,2022-02-02 01:27:48,-5.1989,-35.4608,77.90,77,42,9.46
16,16,Bambous Virieux,MU,2022-02-02 01:27:49,-20.3428,57.7575,79.21,94,75,25.32
19,19,Kavaratti,IN,2022-02-02 01:27:50,10.5669,72.6420,80.20,68,5,8.99
24,24,Hilo,US,2022-02-02 01:27:51,19.7297,-155.0900,76.73,75,75,5.75
25,25,Port Alfred,ZA,2022-02-02 01:26:07,-33.5906,26.8910,77.63,76,100,5.93
26,26,Belmonte,BR,2022-02-02 01:27:39,-15.8631,-38.8828,79.30,84,1,8.30
31,31,Maumere,ID,2022-02-02 01:27:53,-8.6199,122.2111,82.99,70,1,5.91

In [26]:
# Check for null values

preferred_cities_df.count()

City_ID       122
City          122
Country       122
Date          122
Lat           122
Lng           122
Max Temp      122
Humidity      122
Cloudiness    122
Wind Speed    122
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2           Rikitea      PF     78.35 -23.1203 -134.9692
7            Nabire      ID     84.31  -3.3667  135.4833
8             Kapaa      US     79.12  22.0752 -159.3190
12           Touros      BR     77.90  -5.1989  -35.4608
16  Bambous Virieux      MU     79.21 -20.3428   57.7575
19        Kavaratti      IN     80.20  10.5669   72.6420
24             Hilo      US     76.73  19.7297 -155.0900
25      Port Alfred      ZA     77.63 -33.5906   26.8910
26         Belmonte      BR     79.30 -15.8631  -38.8828
31          Maumere      ID     82.99  -8.6199  122.2111

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Rikitea,PF,78.35,-23.1203,-134.9692,People ThankYou
7,Nabire,ID,84.31,-3.3667,135.4833,Hotel Nusantara Nabire
8,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Touros,BR,77.90,-5.1989,-35.4608,INN NEW HORIZON
16,Bambous Virieux,MU,79.21,-20.3428,57.7575,Casa Tia Villa
19,Kavaratti,IN,80.20,10.5669,72.6420,Hotels in Lakshadweep Islands
24,Hilo,US,76.73,19.7297,-155.0900,Hilo Hawaiian Hotel
25,Port Alfred,ZA,77.63,-33.5906,26.8910,The Halyards Hotel
26,Belmonte,BR,79.30,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
31,Maumere,ID,82.99,-8.6199,122.2111,Sylvia Hotel

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))